* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d2128;
  font-family: "Inter", "Roboto", "Arial";
}

hr {
  background: rgba(229, 229, 229, 0.2);
  border: 1px solid rgba(229, 229, 229, 0.2);
  width: 95%;
}
